<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Blog</title>
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/nav.css" />
  <link rel="stylesheet" href="/styles/footer.css" />
  <link rel="stylesheet" href="/styles/form.css" />
  <link rel="stylesheet" href="/styles/card.css" />
</head>
<body>
  <nav class="navbar">
    <div class="nav-left">
      <a href="/" class="nav-logo pointer">Keep Notes</a>
    </div>
    <div class="nav-right">
      <a href="/posts/create" class="nav-button pointer">
        <span class="icon">+</span>
        <!-- Nav button -->
        Create new note
      </a>
    </div>
  </nav>
</body>
